{% extends 'base.html.twig' %}

{% block title %}Espace utilisateur{% endblock %}



{% block body %}
    <div class="jumbotron jumbo-home">
       <div class="container ironh1-home-box w-7">
           <h1 class="ironh1-home">Les sorties de l'ENI</h1>
       </div>

    </div>
    {% block bodymain %}

    {% endblock %}


{% endblock %}


