{% extends 'base.html.twig' %}
{% block title %}Bienvenue{% endblock %}

{% block body %}
    <h1>Entrer un Lieu</h1>

    </br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-8">
            {{ form_start(locationForm) }}
            {{ form_errors(locationForm) }}
            {{ form_widget (locationForm) }}
            <input type="submit">
            {{ form_end(locationForm) }}
        </div>
    </div>
{% endblock %}