{% extends 'base.html.twig' %}

{% block title %}Espace utilisateur{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="container">
    <h1 class="text-center"> Espace Utilisateur</h1>
        <br>
        <br>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if app.request.attributes.get('_route') == 'user_index' %}active" style="background-color: #f6f6f6;{% endif %}" href="{{path('user_index')}}"
               >Mes sorties</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if app.request.attributes.get('_route') == 'user_list_events' %}active" style="background-color: #f6f6f6;{% endif %}" href="{{path('user_event_list')}}">Mes inscriptions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if app.request.attributes.get('_route') == 'user_show' %}active" style="background-color: #f6f6f6;{% endif %}" href="{{path('user_show')}}">Mon compte</a>
        </li>
    </ul>
    {% block bodyuser %}


    {% endblock %}
    </div>

{% endblock %}


