{% extends 'user/base.html.twig' %}

{% block title %}Verrification{% endblock %}

{% block bodyuser %}

    <div class="container" style="background-color: #f6f6f6;padding:15px;">
        <br>
        <H1 class="text-center">
            Vous vous apprêtez à changer de mot de passe
        </H1>
        <br>
        <h3 class="text-center">
            Veuillez resaisir votre ancien mot de passe
        </h3>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                {{ form_start(userForm) }}


                {{ form_widget(userForm) }}

                <button type="submit"  class="btn btn-primary">Modifier</button>
                {{ form_end(userForm) }}
            </div>
        </div>


    </div>

{% endblock %}