{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="container">
    {{ form_start(eventForm) }}
    <input type="submit">
    {{ form_end(eventForm) }}
    </div>
{%  endblock %}
