{% extends 'user/base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block bodyuser %}

    <div class="container" style="background-color: #f6f6f6;padding:15px;">
        <br>
        <h3 class="text-center">
            Entrez vos identifiants
        </h3>
        <br>
        <div class="row">
        <div class="col-md-3"></div>
        <form method="post" class="form-signin col-md-6 text-center">

            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="_username" id="username" class="form-control" placeholder="Pseudo" required>

            <label for="password">Mot de passe</label>
            <input type="password" name="_password" id="password" class="form-control" placeholder="***" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <br>
            <label for="rememberMe">Se souvenir de moi</label>
            <input type="checkbox" name="_remember_me" id="rememberMe">
            <br>
            <button type="submit"  class="btn btn-primary">Login</button>
        </form>
        </div>
    </div>
{% endblock %}
