{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="container">
        <h1>Demo Login</h1>
        <br>
        <div class="row">
        <div class="col-md-3"></div>
        <form method="post" class="form-signin col-md-6 text-center">
            <h1 class="h3 mb-3 font-weight-normal">Entrez vos identifiants</h1>
            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="_username" id="username" class="form-control" placeholder="Pseudo" required>

            <label for="password">Mot de passe</label>
            <input type="password" name="_password" id="password" class="form-control" placeholder="***" required>
            <button type="submit"  class="btn btn-primary">Login</button>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <br>
        </form>
        </div>
    </div>
{% endblock %}
