{% extends 'base.html.twig' %}

{% block title %}Mes informations{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                {{ form_start(userForm) }}


                {{ form_widget(userForm) }}

                <button type="submit"  class="btn btn-primary">Modifier</button>
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>
{%  endblock %}